.projects-container {
    text-align: center;
    margin-block: 100px;
    background-color: transparent;
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 40px;
    color: var(--text-primary);
  }
  
  .section-title span {
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* Projects Grid */
  .projects-scroll {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }
  
  /* Project Card */
  .project-card {
    background:transparent;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: var(--text-primary);
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--accent-color);
    backdrop-filter: blur(10px);
  }
  
  /* Card Hover Effect */
  .project-card:hover {
    background: var(--gradient-primary);
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px #0b0151;
  }
  
  .project-card:hover .tech-badge  {
    background: rgba(0, 0, 0, 0.3);
  }
  
  .project-card:hover .project-links a {
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }
  /* Project Image */
  .project-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border-primary);
  }
  .read-more-toggle {
    color:  var(--accent-color);
    cursor: pointer;
    font-weight: bold;
  }
  .project-card:hover{
    .read-more-toggle{
      color:black;
    }
  }
  
    
 
    
  
  
  /* Tech Stack Badges */
  .tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin-top: 10px;
  }
  
  .tech-badge {
    background: rgba(41, 21, 117, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background 0.3s;
  }
  
  /* Project Links */
  .project-links {
    margin-top: 15px;
  }
  
  .project-links a {
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  @media (max-width: 768px) {
    .projects-scroll {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .project-card {
      width: 90%;
    }
    .project-image {
      height: 150px;
    }
  }