.projects-container {
    text-align: center;
    margin-block: 100px;
    background-color: transparent;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 80px;
    color: #ffff;
}



.projects-scroll {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px;
}

.project-card {
    background: transparent;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: aliceblue;
    transition: transform 0.3s ease-in-out;
    border: 1px solid #6a5acd;
}

.project-card:hover {
    
    background: linear-gradient(to right, #6a5acd, rgb(43, 43, 248));
    .project-links a {
        color:#291575;
    }
}

/* Tech Stack Badges */
.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}

.tech-badge {
    background: #291575;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

/* Project Links */
.project-links {
    margin-top: 15px;
}

.project-links a {
    display: inline-block;
    margin-right: 40px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.project-links a:hover {
    text-decoration: underline;
}


/* Responsive Adjustments */
@media (max-width: 768px) {
  
}
