.skills-bar-container {
    width: 100%;
    overflow: hidden;
    padding: 100px 0;
    position: relative;
    white-space: nowrap;
}
.skills-bar {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
}

.scrolling-logos {
    display: flex;
    animation: scroll-left 65s linear infinite;
    width: max-content; /* Ensure smooth transition */
}

/* Adjust skill box */
.skill-logo {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    margin: 0 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Infinite scrolling effect */
@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .skill-logo {
        width: 60px;
        height: 60px;
        margin: 0 10px;
    }

    .scrolling-logos {
        animation: scroll-left 16s linear infinite;
    }
}
