
* {
  font-family: San Francisco, Courier, Helvetica, Arial, san-serif, monospace;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #0f0f1a;
}

button {
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}