.timeline-container {
    color: #6a5acd;
}

.timeline {
    border-left: #6a5acd 6px solid;
    padding: 20px 20px 20px 0;
}

.timeline_c {
    padding: 20px 20px 20px 0;
    display: flex;
    align-items: center;
}

.arro {
    margin: 10px 15px 10px 0;
    color: #6a5acd;
    font-size: 20px;
}
.timeline-title {
    background: linear-gradient(to right, #6a5acd, rgb(43, 43, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.timeline-content {
    width: 40vw;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: transparent;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    list-style: none;
    padding: 0;
}

.skill-item {
    width: auto;
    border: #6a5acd 2px solid;
    border-radius: 9px;
    padding: 9px 12px;
    font-size: 14px;
    text-align: center;
    background-color: rgba(106, 90, 205, 0.1);
}

.timeline-content h3,
.timeline-content p,
.skill-item {
    margin: 10px 0;
}

@media (max-width: 665px) { 
    .timeline-content {
        width:80vw
    }
    .timeline_c {
        flex-direction: column;
        align-items: flex-start;
    }
    .timeline-item {
        margin-left:100px;
    }
}
