.skills-container {
  text-align: center;
  color: #e0e0e0;
  padding: 30px 2px;
}

.skills-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.skills-title span {
  background: linear-gradient(to right, #6a5acd, rgb(43, 43, 248));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skills-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-category {
  border: 1px solid #6a5acd;
  border-radius: 10px;
  padding: 20px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.category-title {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
  color: #6a5acd;
  font-weight: bold;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.skill-box {
  border: 1px solid #6a5acd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 100px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.skill-box:hover {
  transform: scale(1.1);
}

.skill-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Progress bar container */
.progress-bar {
  width: 100%;
  background: #000000;
  border-radius: 10px;
  height: 8px;
  overflow: hidden;
  position: relative;
}

/* Progress fill (animated) */
.progress-fill {
  height: 100%;
  background:linear-gradient(to right, #6a5acd, rgb(43, 43, 248));
  width: 0;
  transition: width 1.5s ease-in-out;
}

.skill-percentage {
  font-size: 14px;
  color: #6a5acd;
  font-weight: bold;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .skills-section {
      flex-direction: column;
      align-items: center;
  }
  .skill-category {
      width: 90%;
  }
}
